{% extends "modelo.html" %}
{% block conteudo %}

    <h1>Sobre o projeto</h1>
    <p>Este é o projeto em flask realizado para a disciplina de Introdução a Programação.<br> Uniesp - Sistemas de Informação P1B</p>
    <p>Link respositório github <a href="https://github.com/rafaellucas30290/ProjetoFlask"> aqui </a></p>

    <h1>Sobre a equipe</h1>
    <div class="card" style="width: 18rem;">
      <img src="https://media.istockphoto.com/id/164438541/vector/nerd-emoticon.jpg?s=612x612&w=0&k=20&c=7QipZDHznxem47-BEy38AAC5nqKRsoLomeNstmh-DB4=" class="card-img-top" alt="Descrição da imagem">
      <div class="card-body">
        <p class="card-text">Grupo: Rafael Lucas de Oliveira | Fellype Gabriel | Fernando Batista
      </div>
    </div>

{% endblock %}